body {
  margin : 1em;
  font-family:  Georgia, Helvetica, Arial, sans-serif;
  }
header{
  background-color:rgb(255, 160, 28);
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
}
a{
text-decoration:none;
color:#FFC777;
}
header img {
  float : left ;
  width : 12.6em;
}

.mon_nom{
  padding : 0.7em;
  font-size: 2.1em;
}
.mon_statut{
  font-size: 1.2em;
  padding : 0.7em;
}

.ma_barre_navigation {
  position: inherit;
  bottom:10;
  }
   
   
header a {
  padding :1em;
  color: white;
  margin: 2em;
  font-size: 1.7em;
  text-decoration: none;
  }
    
  header a:hover {
  color: #FFC777;
  }
  

  .ma_barre_navigation ul { 
    list-style-type: none;
    text-align: center ;
  }
  .ma_barre_navigation li { 
    display: inline-block;
  }


  .h2_teaching{
    font-weight:normal;
  }
  .h3_color{
    color:rgb(255, 160, 28);
}
  .h3_barre{
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    border-bottom: 0.1em solid rgb(255, 160, 28);
    width: 75%;
    color:rgb(255, 160, 28);
  }

@media screen and (max-width: 101em)
  {
    header a {
      padding :1.4em;
      margin: 1.4em;
      font-size: 1.7em;
      text-decoration: none;
      }
  }

  @media screen and (max-width: 90em)
  {
    header a {
      padding :0.9em;
      margin: 0.9em;
      font-size: 1.7em;
      text-decoration: none;
      }
  }

  @media screen and (max-width: 77em)
  {
    header a {
      padding :0.5em;
      margin: 0.5em;
      font-size: 1.7em;
      text-decoration: none;
      }
  }
  @media screen and (max-width: 65em)
  {
    header a {
      padding :0.1em;
      margin: 0.1em;
      font-size: 1.7em;
      text-decoration: none;
      }
  }


  @media screen and (max-width: 50em)
  {
    header a {
      padding :0.1em;
      margin: 0.1em;
      font-size: 1.4em;
      text-decoration: none;
      }

      .mon_statut{
        font-size: 1em;
        padding : 0.7em;
      }

      header img {
        float : left ;
        width : 12.25em;
      }
      .h3_barre{
        width: 100%;
      }
  }

  @media screen and (max-width: 45em)
  {
    header a {
      padding :0.1em;
      margin: 0.1em;
      font-size: 1.1em;
      text-decoration: none;
      }

      .mon_statut{
        font-size: 1em;
        padding : 0.7em;
      }

      header img {
        float : left ;
        width : 0.0em;
      }

      .h3_barre{
        width: 100%;
      }
  }

    @media all and (orientation: portrait) and (max-device-width: 480px) {
    header a {
    padding :0.4em;
    margin: 0.3em;
    font-size: 2em;
    text-decoration: none;
    }

    .mon_statut{
      font-size: 1em;
      padding : 0.7em;
    }

    header img {
      float : left ;
      width : 0.0em;
    }

    .h3_barre{
      width: 100%;
    }
    
    @media all and (orientation: landscape) and (max-device-width: 800px) {
    header a {
    padding :0.3em;
    margin: 0.2em;
    font-size: 1em;
    text-decoration: none;
    }

    .mon_statut{
      font-size: 1em;
      padding : 0.7em;
    }

    header img {
      float : left ;
      width : 0.0em;
    }

    .h3_barre{
      width: 100%;
    }
}
